<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login Page</title>
        <link rel='stylesheet' href='/stylesheets/login.css' />
    </head>
    <body>
        <nav>
            <ul>
            <p></p>
            </ul>
        </nav>
        <main>
            <a href="/auth/facebook"><button class="loginBtn loginBtn--facebook">
            Login with Facebook
          </button></a>
        </main>
    </body>
</html>