<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="https://cdn.rawgit.com/TeaMeow/TocasUI/2.3.2/dist/tocas.css" rel='stylesheet'>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdn.rawgit.com/TeaMeow/TocasUI/2.3.2/dist/tocas.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/zh-tw.js'></script>
</head>

<body>
  <div class="chats">
    <div class="chat">
      <div class="group">
        <div class="name">Robby：</div>
        <div class="msg">Hi~</div>
      </div>
      <div class="time">11分鐘前</div>
    </div>
    <div class="chat">
      <div class="group">
        <div class="name">Robby：</div>
        <div class="msg">Hola~</div>
      </div>
      <div class="time">10分鐘前</div>
    </div>
  </div>
  <div class="message">
    <input id="name" type="text" placeholder="your name" />
    <input id="msg" type="text" placeholder="input the message" />
    <button>Send</button>
  </div>
</body>

<script src='./javascripts/sign.js'></script>
<script src='./javascripts/app.js'></script>

</html>